<div class="main">
    <a routerLink='/HomePage' routerLinkActive='active'>Home Page</a>
    <br>
    <a routerLink='/ProfilePage' routerLinkActive='active'>Profile Page</a>
    <div class="login">
        <p>
            Please login with google to get started!:
        </p>
        <div class="formGroup" *ngIf='authService.user$ | async as user; else login'>

            <hr>
            <button class='button' (click)='authService.signOut()'>Sign out</button>
        </div>

        <ng-template #login>

            <button class='button' (click)='authService.googleSignIn()'>Login with Google </button>
        </ng-template>
    </div>