.header{
display:grid;
grid-template-columns: repeat(2,1fr);
}

.logo-image{
justify-self: right;
color: yellow;
}
.links{
  margin-right: 20px;
  margin-top: 50px;
  justify-self: right;

}
a:hover{
  color:grey;
}
.links a {
  padding: 5px;
  align-items: bottom
}

.signOut{
  margin-right: 30px;

}
.links button:hover {
  background-color: red;
  color:black;
}