<div>
    <a routerLink='/' routerLinkActive='active'>LoginPage</a>
    <br>
    <a routerLink='/HomePage' routerLinkActive='active'>HomePage</a>

    <div class="container-fluid" *ngFor='let i of myUser'>

        <div class='profile-info'>
            <img class='profile-picture' src={{i[0].photoURL}}>
        </div>
        <div class='profile-info'>
            Your Email is:
            {{i[0].email}}
        </div>
        <div class='profile-info'>
            Your DisplayName is:
            {{i[0].displayName}}
        </div>

    </div>
</div>