.container-fluid{
  display:block;
    height:100vh;
  background-image: url(assets/img/background-budget.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.profile{
  padding:50px;
}
.profile-picture{
  border-radius: 50px;
  max-height: 100px;
  max-width: 100px;
 
}
.profile-info{
  margin:auto;
  width: 50%;
 height:40px;
}