.row{
  width: 100vw;
   height:100vh;
  background-image: url(assets/img/background-budget.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 20%;
  margin-left: 0;
}
